.footer1{
    height: 350px;
    width: 100%;
    
    display: flex;
    font-family: sans-serif;
}
.sideimage{
    width: 40%;
    height: 350px;
   align-self: flex-end;
}
.footerimage{
   height: 50px;
   margin-left:60px ;
   cursor: pointer;
}
.part1{
    width: 60%;
    
    background-color: rgb(242,245,245);
}
.footerline2{
   margin-left: 60px;
   margin-top: 80px;
}
.footerline1{
   margin-left: 60px;
   margin-top: 60px;
}